body {
    margin: 0;
}

.nav-list {
    margin: 0;
    padding: 1.5% 5%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #3E3D3D;
    color: white;
}
.nav-name {
    flex-grow: 1;
    font-size: 2em;
}
.nav-page {
    margin: 0 2%;
    font-size: 1.5em;
}
.nav-page:hover {
    color: #FF5B5B;
}

.nav-links {
    color: white;
    text-decoration: none;
}
.nav-links:visited {
    color: white;
}
.nav-links:hover {
    color: #FF5B5B;
}
/* Override for name link only. */
.name-link:hover {
    color: white;
}

#section-title {
    background-image: url('../images/index/index_001.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-container {
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.header-mission {
    width: 100%;
    margin: 0;
    font-size: 3em;
    text-align: right;
    color: white;
}
.header-services {
    width: 100%;
    margin: 0;
    font-size: 1.5em;
    text-align: right;
    color: white;
}

#section-highlights {
    background-color: #474747;
    /* overflow: auto; */
}

h3 {
    width: 100%;
    margin: 0;
    font-size: 1.5em;
    text-align: center;
    color: white;
    padding: 1.5% 0;
}

#highlights-container {
    display: grid;
    /* Line below, min col width is 400px, repeats until can't fit anymore 400px cols, resizes to fill rest. */
    /* Makes highlights row completely responsive, resizing to 3, 2, then 1 column when window small enough. */
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2px;
    background-color: black;
}
.highlight-image {
    width: 100%;
}

footer {
    background-color: #474747;
}

.socials-list {
    margin: 0;
    padding: 50px 0 0 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 1.75em;
}
.socials-item {
    width: 50%;
}

.footer-separator {
    border-color: white;
    border: 2px 0 0 0;
    width: 10%
}

.footer-nav-container {
    text-align: center;
}
.footer-nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-size: 1.25em;
    padding: 20px 0 70px 0;
    margin: 0;
}

.signature-container {
    display: flex;
    flex-direction: row-reverse;
    color: white;
    padding: 0 10px 10px 10px;
}
@media screen and (max-width: 640px) {
    .signature-container {
        font-size: 0.75em;
    }
}
.signature-copyright {
    flex-grow: 1;
}

#gallery-container {
    column-count: 5;
    column-gap: 3px;
    background-color: black;
}
@media screen and (max-width: 1100px) {
    #gallery-container {column-count: 3;}
}
@media screen and (max-width: 640px) {
    #gallery-container {column-count: 1;}
}
.gallery-image {
    width: 100%;
}

/* --- Positioning Name (start) --- */
#about-title {
    background-image: url('../images/about/about_001.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}

.about-name-container {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
}

.about-name {
    width: 100%;
    margin: 0;
    text-align: right;
    font-size: 3.5em;
    color: white;
}
/* --- Positioning Name (end) --- */

#about-text {
    background-color: #474747;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.about-paragraph {
    width: 80%;
    color: white;
    font-size: 1.5em;
    text-align: justify;
}

/* CONTACT PAGE */

#contact {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #DCDCDC;
}

.contacts-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 75px 0;
}

.contact-box {
    width: 95%;
    list-style-type: none;
    border: solid black 1.5px;
    margin: 0;
    /* padding: 2% 3% 2% 2%; */
    padding: 3%;
    display: flex;
    gap: 3%;
    align-items: center;
    box-shadow: 1px 3px #3E3D3D;
}
.contact-box:hover {
    width: 100%;
}

.contact-type {
    color: black;
    font-size: 3em;
}
.contact-info {
    flex-grow: 1;
    font-size: 1.25em;
}
.contact-out {
    color: black;
    font-size: 2em;
}

.contact-footer-nav {
    padding-top: 50px;
}